body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 26px;
  color: #869690;
  background-color: #ffffff;
}
a { color: #3fbf79; text-decoration: none; }
b{ color: #555; }
#documenter_content h1 {
  line-height: 66px;
  margin: 44px 0;
}
#documenter_content h2 {
  color: #4a5853;
  font-weight: 600;
  margin: 22px 0;
}
#documenter_content h3 {
  font-weight: 400;
}
#documenter_content h2,
#documenter_content h3 {
  line-height: 33px;
}
#documenter_content h1 {
  font-size: 48px;
}
#documenter_content h2 {
  font-size: 32px;
}
#documenter_content h3 {
  font-size: 24px;
}
#documenter_content h4 {
  font-size: 20px;
}
#documenter_content h5 {
  font-size: 16px;
}
#documenter_content h6 {
  font-size: 13.6px;
}

.page-header {
  padding-bottom: 10px;
  margin: 22px 0 33px;
  border-bottom: 1px solid #eeeeee;
}

code {
  padding: 2px 4px;
  color: #ff8a3c;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  white-space: nowrap;
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-weight:inherit;
	font-size:100%;
	vertical-align:baseline;
}
footer, header, section { display:block; }
#documenter_content{
	position:absolute;
	right:18px;
	left:248px;
	padding-left:10px;
	padding-bottom:800px;
	min-height:100%;
	height:auto;
	z-index:1;
}
#documenter_sidebar{
	position:fixed;
	left:0;
	width:220px;
	height:100%;
	min-height:100%;
	z-index:100;
}
#documenter_sidebar a{ position:relative; z-index:100; }
img{ border:0; }
#documenter_copyright{
	position:absolute;
	bottom:5px;
	font-size:10px;
	right:15px;
	width:200px;
	text-align:right;
	z-index:1;color:#777;
}
#documenter_copyright a{ color:#777; }

/*----------------------------------------------------------------------*/
/* Sidebar
/*----------------------------------------------------------------------*/

#documenter_sidebar #documenter_logo{
	display:block;
	height:20%;
	max-height:200px;
	min-height:70px;
	width:200px;
	background-position:center center;
	background-repeat:no-repeat;
	margin:20px 260px 0;
}

#documenter_sidebar{ width:250px; }
#documenter_sidebar ul{
	font-size:13px;
	font-weight:700;
	min-height:150px;
	height:70%;
	overflow:auto;
}

#documenter_sidebar ul li{
	text-align:right;
	padding:0;
}
#documenter_sidebar ul a{
	display:block;
	border-top:1px solid #ddd;
	border-bottom:1px solid #aaa;
	padding:6px 15px 7px 0;
	text-align:right;
}
#documenter_sidebar ul a:hover,#documenter_sidebar ul a.current{
	-webkit-text-shadow:none;
	-moz-text-shadow:none;
	text-shadow:none;
	text-decoration:none;
}
#documenter_sidebar ul li ul{
	border-top:0;
	font-size:10px;
	min-height:10px;
	height:auto;
	overflow:auto;
	margin:0;
	display:none;
}
#documenter_sidebar ul li ul li a{
	display:block;
	padding:4px 15px 5px 0;
	text-align:right;
}

/*----------------------------------------------------------------------*/
/* Content
/*----------------------------------------------------------------------*/

#documenter_cover{
	position:relative;
	height:800px;
	padding-top:10px !important;
}
#documenter_content section{ padding-top:40px; }
#documenter_content p{ margin:0 0 14px 0; }
#documenter_content ul li{
	list-style:decimal;
	margin-left:36px;
}
#documenter_content ul li{ list-style:square; margin-left:36px; }
#documenter_content{ margin: 0 40px;}

@media print {
	 * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
	-ms-filter: none !important; 
} 
	a, a:visited { color: #444 !important; text-decoration: underline; }
	a[href]:after { content: " (" attr(href) ")"; }
	abbr[title]:after { content: " (" attr(title) ")"; }
	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  
	/*pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }*/
	thead { display: table-header-group; }
	tr, img { page-break-inside: avoid; }
	@page { margin: 0.5cm; }
	p, h2, h3 { orphans: 3; widows: 3; }
	h2, h3{ page-break-after: avoid; }
	hr { border-top:1px solid #000 !important;border-bottom:0 !important; }
#documenter_sidebar{
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
	position:absolute;
	left:10px;
	top:0;
	width:100%;
	margin-top:500px;
}
#documenter_sidebar ul:before { content: "Table of Contents"; }
#documenter_sidebar ul{ border:0 !important; }
#documenter_sidebar ul li{ border:0 !important; text-align:left; }
#documenter_sidebar ul li a{
	border:0 !important;
	text-align:left;
	padding:4px;
}
#documenter_sidebar ul li a:hover{border:0 !important; }
#documenter_sidebar #documenter_logo{ display:none; }
#documenter_sidebar #documenter_copyright{ display:none; }
#documenter_content{ left:10px; }
#documenter_cover{ margin-bottom:300px; }
#documenter_content .warning{
	background-image:url(img/warning.png) !important;
	background-repeat:no-repeat !important;
	background-position: 8px 11px !important;
}
#documenter_content .info{
	background-image:url(img/info.png) !important;
	background-repeat:no-repeat !important;
	background-position: 8px 11px !important;
}


pre {
  display: block;
  padding: 8.5px;
  margin: 0 0 9px;
  font-size: 12px;
  line-height: 18px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
}